/* Example one
.box {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}

.box-small {
    font-size: 12px;
}

.box-large {
    font-size: 18px;
} */
/* 
body {
    font-size: 16px;
}

ul {
    font-size: 0.8em;
}

ul ul {
    font-size: 1em; */

    /* :root {
        font-size: 1em;
    }

    ul {
        font-size: .8rem
    } */

:root {
    font-size: 0.75em;
}
@media (min-width: 800px) {
    :root {
        font-size: 0.875em;
}
@media (min-width: 1200px) {
    :root {
        font-size: 1em;
}
.panel {
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #999;
}

.panel > h2 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}