/* Example one
.box {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}

.box-small {
    font-size: 12px;
}

.box-large {
    font-size: 18px;
} */

body {
    font-size: 16px;
}

ul {
    font-size: 0.8em;
}