:root {
    background-color:darkslategray;
    color: blanchedalmond;
}

.social {
    width: 50px;
    border-radius: 50%;
  }

  .storypic {
    width: 200px;
    border-radius: 50%;
    float: left;
  }

  .storypic img {
    width: 200px;
    border-radius: 50%;
    float: left;
  }

  em {
    font-weight: bold;
    color: white;
  }


  a:link {
    color:aqua;
  }

  a:visited {
    color:aquamarine;
  }

  a:hover {
    color:rgb(223, 198, 231);

  }

  a:active {
    color: aquamarine;
  }



  button {
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;

    border-radius: 20%;
    background-color: rgb(38, 26, 11);
    padding: 10px;
}

button a {
    text-decoration: none;
}
button:hover {
    background-color:antiquewhite; 
    color: rgb(0, 0, 0);
}

.top-link {
    border-style: solid;
    border-radius: 4px;
    border-color: antiquewhite  ;
    background-color:black;
    border-width: 1px;
}

.top-nav li {
    display: inline-block;
    position: relative;
  overflow: hidden;
    /* display:grid 2; */
}

.nav a {
    color:rgb(241, 189, 33);
    background-color: rgb(221, 251, 253);
    border-color: rgb(3, 43, 78);
    border-width: 10px;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;
}